Farama-Notifications==0.0.4
filelock==3.16.1
fsspec==2024.9.0
google-auth==2.35.0
google-auth-oauthlib==1.0.0
grpcio==1.66.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h5py==3.11.0
idna==3.10
importlib_metadata==8.5.0
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==2.1.5
mlagents==0.29.0
mlagents-envs==0.29.0
mpmath==1.3.0
networkx==3.1
numpy==1.21.2
oauthlib==3.2.2
pettingzoo==1.24.3
pillow==10.4.0
protobuf==3.20.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pypiwin32==223
pywin32==306
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sympy==1.13.3
six==1.16.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
zipp==3.20.2
onnx==1.14.0
